<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LogIn</title>
</head>
<body>
    <div style="margin-top: 100px !important;" ></div>
        <h1>LogIn on Finsock</h1>
        <div >
            <form action="https://ex-9dc0.onrender.com/login" method="post" >
                <div >
                    <lable for="username" >Username</lable>
                    <input name="username" id="username" type="text" required>
                </div>
                <div >
                    <lable for="password" >Password</lable>
                    <input name="password" id="pasword" type="password"  required>
                </div>
                <button >Login</button>
            </form>
        </div>
    </div>
</body>
</html>