<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUp</title>
</head>
<body>
    <div style="margin-top: 100px !important;" ></div>
        <h1>SignUp on Finsock</h1>
        <div >
            <form action="/signup" method="post" >
                <div >
                    <lable for="username" >Username</lable>
                    <input name="username" id="username" type="text" required>
                </div>
                <div ></div>
                    <lable for="email" >Email</lable>
                    <input name="email" id="email" type="email" required>
                </div>
                <div >
                    <lable for="password" >Password</lable>
                    <input name="password" id="password" type="password"  required>
                </div>
                <button >SignUp</button>
            </form>
        </div>
    </div>
</body>
</html>